<%- include('includes/header.ejs') %>
</head>

    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div
                        class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>OTP verification</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">We have send a otp to your email please enter</p>
                                <form method="POST" action="/otpverify">
                                    <div class="form-group">
                                        <label for="otp">OTP</label>
                                        <input id="otp" type="number" class="form-control" name="otp" tabindex="1"
                                            required autofocus>

                                        <input type="hidden" name="id" value="<%= existingUser._id %>">

                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                          Verify
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('includes/footer.ejs') %>