<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="assets/css/custom.css">
    
    </head>
    <body>
        <div class="loader"></div>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <%- include('../includes/sidebar_nav.ejs') %>
                    <!-- Main Content -->

                    <div class="main-content">
                        <section class="section">
                            <div class="section-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="card ">
                                            <div class="card-statistic-1">
                                                <div class="align-items-center justify-content-between">
                                                    <div class="row ">
                                                        <div class="col-md-6 mb-md-0 p-md-4">
                                                            <img src="uploads/71tOFBNH2XL._UX569_.jpg" class="w-100"
                                                                alt="...">
                                                            <a href="#" class="stretched-link"></a>
                                                        </div>
                                                        <div class="col-md-6 p-4 ps-md-0">
                                                            <h5 class="mt-4 ">T - Shirt</h5>

                                                            <a href="#" class="stretched-link"></a>

                                                            <p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="card ">
                                            <div class="card-statistic-1">
                                                <div class="align-items-center justify-content-between">
                                                    <div class="row ">
                                                        <div class="col-md-6 mb-md-0 p-md-4">
                                                            <img src="uploads/71tOFBNH2XL._UX569_.jpg" class="w-100"
                                                                alt="...">
                                                            <a href="#" class="stretched-link"></a>
                                                        </div>
                                                        <div class="col-md-6 p-4 ps-md-0">
                                                            <h5 class="mt-4 ">T - Shirt</h5>

                                                            <a href="#" class="stretched-link"></a>

                                                            <p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="card ">
                                            <div class="card-statistic-1">
                                                <div class="align-items-center justify-content-between">
                                                    <div class="row ">
                                                        <div class="col-md-6 mb-md-0 p-md-4">
                                                            <img src="uploads/71tOFBNH2XL._UX569_.jpg" class="w-100"
                                                                alt="...">
                                                            <a href="#" class="stretched-link"></a>
                                                        </div>
                                                        <div class="col-md-6 p-4 ps-md-0">
                                                            <h5 class="mt-4 ">T - Shirt</h5>

                                                            <a href="#" class="stretched-link"></a>

                                                            <p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>



                        </section>
                        <%- include('../includes/theme_converter.ejs') %>

                    </div>
                    <script src="assets/bundles/prism/prism.js"></script>

                    <%- include('../includes/footer.ejs') %>